.body {
   display: flex;
   flex-direction: row;
   border: 1px solid gray;
}

.right {
   padding: 10px;
   background-color: rgba(201, 201, 201, 0.507);
   flex: 6;
}

@media (max-width:760px) {
   .body {
      flex-direction: column;
   }
  
}