.right {
    display: flex;
   flex-direction: column;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   overflow-y:hidden ;
}

.header-text {
   display: flex;
   flex-direction: column;
}

.header-text h3 {
   font-size: 17px;
   letter-spacing: 0.3px;
}

.header-text p {
   font-size: 13px;
   letter-spacing: 0.3px;
}

.header-text-p {  
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn:hover {
   background-color: rgba(202, 198, 198, 0.623);
}
